.photoSlider {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: auto;
}

.slider {
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.sliderContainer {
  display: flex;
  gap: 20px;
  max-width: 100%;
  border-radius: 16px;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.slide:nth-last-child(1) {
  margin-right: 20px;
}