@import '../../../styles/vars';

.base {
    line-height: 140%;
    letter-spacing: 0.03em;
    font-weight: 900;
}

.h1 {
    font-size: 40px;
    color: var(--color-primary);
}

.black {
    color: var(--color-primary);
}

.white {
    color: var(--color-tertiary-text);
}

.bigFS {
    font-size: 40px;
}

.h3 {
    font-size: 28px;
}

.medium {
    font-size: 32px;
}

@include laptop {
    .h1 {
        font-size: 32px;
    }

    .bigFS {
        font-size: 32px;
    }

    .medium {
        font-size: 26px;
    }

    .h3 {
        font-size: 22px;
    }
}

@include tablet {
    .h1 {
        font-size: 36px;
    }

    .bigFS {
        font-size: 36px;
    }

    .medium {
        font-size: 30px;
    }

    .h3 {
        font-size: 26px;
    }
}

@include mobile {
    .h1 {
        font-size: 28px;
    }

    .bigFS {
        font-size: 28px;
    }

    .medium {
        font-size: 22px;
    }

    .h3 {
        font-size: 20px;
    }
}
