.home {
  padding-top: 100px;
  margin-bottom: 60px;
}

.cars {
  padding-top: 80px;
  margin-bottom: 80px;
}

.vin {
  padding-top: 20px;
}

@media screen and (max-width: 980px) {
  .home,
  .cars {
    padding-top: 80px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 550px) {
  .home {
    padding-top: 60px;
    margin-bottom: 50px;
  }
  .cars {
    padding-top: 60px;
    margin-bottom: 10px;
  }
  .vin {
    padding-top: 10px;
  }
}